<!doctype html>
<html lang="en">

<head>
    <title>Một Chút Iu Code</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap & FontAwesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">

    <style>
        body {
            background-image: url('https://vapa.vn/wp-content/uploads/2022/12/anh-nen-vu-tru-001.jpg');
            background-size: cover;
            background-position: center;
        }

        .title-header {
            animation: ChangeColor 5s linear infinite;
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
        }

        @keyframes ChangeColor {
            0% { color: red; }
            25% { color: orange; }
            50% { color: green; }
            75% { color: blue; }
            100% { color: violet; }
        }

        .social-icons-container {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            background-color: rgba(255, 255, 255, 0.6);
            padding: 1rem;
            border-radius: 10px;
        }

        .icon-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
        }

        .icon {
            margin-bottom: 0.5rem;
        }

        .icon-name {
            text-align: center;
            font-size: 16px;
        }

        .bi-facebook { color: blue; font-size: 2rem; }
        .bi-instagram { background-image: linear-gradient(to bottom right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80); -webkit-background-clip: text; color: transparent; font-size: 2rem; }
        .bi-tiktok { color: black; font-size: 2rem; }
        .bi-twitter { color: #1DA1F2; font-size: 2rem; }
        .bi-youtube { color: red; font-size: 2rem; }
        .bi-heart-fill { color: red; font-size: 2rem; }

    </style>
</head>

<body class="container">
    <header>
        <h1 class="title-header">Một Chút Iu Code</h1>
    </header>
    <hr>

    <div class="social-icons-container row">
      <div class="icon-wrapper col-lg-4 col-6">
          <a href="https://www.facebook.com/nongxtl6.edu.vn/" target="_blank" class="icon bi bi-facebook"></a>
          <span class="icon-name">Facebook</span>
      </div>
      <div class="icon-wrapper col-lg-4 col-6">
          <a href="https://www.instagram.com/mot_chut_iu_doi/" target="_blank" class="icon bi bi-instagram"></a>
          <span class="icon-name">Instagram</span>
      </div>
      <div class="icon-wrapper col-lg-4 col-6">
          <a href="https://www.tiktok.com/@xuanbach2k3" target="_blank" class="icon bi bi-tiktok"></a>
          <span class="icon-name">TikTok</span>
      </div>
      <div class="icon-wrapper col-lg-4 col-6">
          <a href="https://twitter.com/home" target="_blank" class="icon bi bi-twitter"></a>
          <span class="icon-name">Twitter</span>
      </div>
      <div class="icon-wrapper col-lg-4 col-6">
          <a href="https://www.youtube.com/" target="_blank" class="icon bi bi-youtube"></a>
          <span class="icon-name">YouTube</span>
      </div>
      <div class="icon-wrapper col-lg-4 col-6">
          <a href="/love" class="icon bi bi-heart-fill"></a>
          <span class="icon-name">Love</span>
      </div>
  </div>
  
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>
